.App {
  text-align: center;
  background-color: #8d8d8d;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  width: 100%;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#drum-machine {
  width: 600px;
  height: 300px;
  border: 2px solid #ffa500;
  background-color: #b3b3b3;
  display: flex;
}

.drumButtons {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

button {
  position: relative;
  margin: 5px 15px;
  width: 80px;
  height: 60px;
  background-color: #808080;
  border: none;
  border-radius: 5px;
  color: black;
  box-shadow: 5px 3px 10px 0.5px rgba(0, 0, 0);
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

button:hover {
  background-color: #ffa500;
  box-shadow: 5px 3px 10px 0.5px rgba(0, 0, 0);

}

.controls {
  width: 40%;
}

#display {
  width: 20px;

}