.App {
  text-align: center;
  background-color: #61dafb;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* 
audio {
  height: 100%;
  width: 100%;
} */

#drum-machine {
  width: 600px;
  height: 300px;
  border: 1px solid blue;
  display: flex;
}

.drumButtons {
  width: 50%;
  height: 100%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

button {
  position: relative;
  margin-left: 20px;
  width: 60px;
  height: 50px;
  background-color: #fff;
  color: #666;
  user-select: none;
}


.controls {
  width: 50%;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.switches {
  background-color: yellow;
}

.manipulateVolume {
  background-color: #666;
}

.options {
  background-color: lightcyan;
}